html {
	margin: 0;
	padding: 0;
}

body {
	margin: 0;
	padding: 0;
	width: 100%;
}

.header_index_html {
	margin:0;
	padding:0;
}

/* banniere_background */
.background{
	background-image: url(media/background.png);
	border-radius: 0px 0px 30px 30px;
	display: flex;
	background-repeat: no-repeat;
	height: 200px;
	width: 1580px;
}
/* banniere */
.banniere{
	background-image: url(media/banner.png);
	display: flex;
	background-repeat: no-repeat;
	height: 200px;
	width: 1580px;
	border-radius: 0px 0px 30px 30px;
}
.text_banner{
	background-image: url(media/text_banner.png);
	background-color: rgb(0, 0, 0,.8);
	display: flex;
	background-repeat: no-repeat;
	height: 120px;
	width: 870px;
	margin-left: 380px;
	margin-top: 40px;
	border-radius: 30px 30px 30px 30px;
}

.hiden_h1 {
	display: none;

}
/* Début flex-box container */
.container_block {
	display: flex;
	height: 450px;
	margin-right: 250px;
	margin-left: 250px;
	justify-content: space-evenly;
}
/* Fin flex-box container */
/* Début flex-box enfant */
.item_block {
	width: 450px;
	border: solid;
	border-width: 10px;
	border-color: #636e72;
}

.title_block {
	text-align: center;
	border: solid;
	color: #2d3436;
	width: 200px;
	margin-right: auto;
	margin-left: auto;
}

.item_inline {
	width: 225px;
	border: solid;
	border-width: 10px;
	border-color: #636e72;
}

.title_inline {
	text-align: center;
	border: solid;
	color: #2d3436;
	width: 200px;
	margin-right: auto;
	margin-left: auto;

}

.item_indefinite {
	width: 225px;
	border: solid;
	border-width: 10px;
	border-color: #636e72;
}

.title_indefinite {
	text-align: center;
	border: solid;
	color: #2d3436;
	width: 200px;
	margin-right: auto;
	margin-left: auto;

}
/* Fin de flex-box enfant */
footer {
	background-color: #636e72;
	margin: 0;
	margin-top: 50px;
	padding: 25px;
}

.bottom_link {
	margin: 0;
	text-align: center;
	font-size: 45px;
}

.made_with_love {
	position: relative;
	text-align: center;
	margin: 0px;
	bottom: 35px;
	background-color: #b2bec3;
	font-size: 20px;
}

.coeur {
	color: red;
	
}

.acs_logo {
	position: block;
	width: 50px;
	height: 50px;
	text-align: center;
}

.title_h2 {
	text-align: center;
	margin-top: 50px;
	font-size: 45px;
	color: black;
	text-decoration: underline overline;
	
}

.desc_html {
	text-align: center;
	margin-bottom: 50px;
	margin-top: 50px;
	margin-right: auto;
	margin-left: auto;
	border: solid;
	border-width: 10px;
	border-color: #636e72;
	width: 63%;
	font-size: 20px;
	color: black;
}

.name_link {
	text-decoration: none;
	color: black;
}

.name_link:hover {
	color: white;
}


/* Début CSS pour les boutons */

@import url(https://fonts.googleapis.com/css?family=Nunito:300);

.button
{
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  letter-spacing: 2px;
  text-align: center;

  font-size: 24px;
  font-family: "Arial", sans-serif;
  font-weight: 300;
  
  height:30px;
  

  background: #2d3436;
  border: 1px solid #2d3436;
  color: #FFF;
  overflow: hidden;
  box-shadow: black 1px 0 10px;
  
  transition: all 0.5s;
  display: block;
  width: 200px;
  margin: auto;
}

.button:hover, .button:active 
{
  text-decoration: none;
  color: #2d3436;
  border-color: #2d3436;
  background: #FFF;
}

.button_inline {
	text-align: center;
}

ul {
	padding: 0;
}

li {
	margin-top: 3%;
}

.center {
	padding-top: 39%;
}
/* Fin CSS pour les boutons */
/* background de la page */
.background_body{
	background-image: url(media/background_body.jpg);
	background-repeat: no-repeat;
}